.logo{
    width: 7%;
}

.joinBtn{
    color: #2866C4;
    border: 1px solid #2866C4;
    padding: 5px 2px; 
    border-radius: 5px;
    
}
.nav-link:hover{
    background-color: rgba(0, 0, 0, 0.16);
    color: #2866C4;
}
.joinBtn:hover{
    color: white;
    background-color: #2866C4; 
}
.nav-link{
margin-left: 10px;
font-weight: bolder;

}
.footer{
    background-color:#2866C4;
    margin-top: 10vh;
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
    
}
.footerDescription{
    padding-right: 1%;
}



/* Style the video: 100% width and height to cover the entire window */
video.videoDescription{
    width: 100vw;
    opacity: 0.6;
    
    
}
  
  /* Add some content at the bottom of the video/page */
  .content {
   
    
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
